/* 代替base.css作为清除默认样式less */
@charset "UTF-8";

// 清除默认样式
* {
    // margin: 0;
    // padding: 0;
    // list-style: none;
    // border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//超链接
body {
    // font: 12px/1.5 Verdana, Arial, 'simsun';
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5fae\8f6f\96c5\9ed1, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #495060;
}

a {
    color: #0000ee;
    color: #2196f3;
    color: #0081e8;
}

// a {
//     text-decoration: none;
//     color: inherit;
// }

p {
    margin: 0;
}

.ulReset() {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


// hover效果
.mouse-hover:hover {
    text-decoration: underline;
}

// 清除浮动
.clearfix() {
    &:after {
        content: '';
        display: block;
        clear: both
    }
}

//超出隐藏
.elli() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


// 字体
.SimSun() {
    font-family: "SimSun"; // 宋体
}

.SimHei() {
    font-family: "SimHei"; // 黑体
}

.Yahei() {
    font-family: "Microsoft Yahei"; // 微软雅黑
}

.JhengHei() {
    font-family: "Microsoft JhengHei"; // 微软正黑体
}

.KaiTi() {
    font-family: "KaiTi"; // 楷体
}

.NSimSun() {
    font-family: "NSimSun"; // 新宋体
}

.FangSong() {
    font-family: "FangSong"; // 仿宋
}


.placeholder() {
    ::-webkit-input-placeholder {
        padding: 2px 00;
        color: #ccc;
    }

    ::-moz-placeholder {
        padding: 2px 00;
        color: #ccc;
    }

    /* firefox 19+ */
    :-ms-input-placeholder {
        padding: 2px 00;
        color: #ccc;
    }

    /* ie */
    input:-moz-placeholder {
        padding: 2px 00;
        color: #ccc;
    }
}