<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue 插件</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="js/vue-cc-validate.js"></script>
</head>

<body>
    <div id="app">
        {{validate_error}}
        <!-- v-validata 里面填的是rule 是规则 -->
        <!-- error,group,focusErrorEl填的是表单元素的name -->
        <p>
            <input type="text" name="phone" v-validata="'required|phone'" v-model="tel"> {{error('phone')}}
            <span v-if="error('phone') == 1">空值错误 必须填写</span>
            <span v-if="error('phone') == 2">正则错误 号码格式不对</span>
            <span v-if="error('phone') == 3">ajax错误 号码重复</span>
        </p>
        <p>
            <input type="" name="email" v-validata="'required|mail'"> {{error('email')}}
        </p>
        <p>
            <button v-show="group('phone|email')">表单正确才出现 , 提交</button>
            <button v-show="group('phone','email')">表单正确才出现 , 提交</button>
            <button v-show="group(['phone','email'])">表单正确才出现 , 提交</button>
        </p>
        <input type="checkbox" name="read" v-validata="'required'">{{error('read')}}
        <button @click="sublime">先聚焦错误元素,再提交</button>
    </div>
    <script type="text/javascript">
    Vue.use(validate, {
        immediate: true,
        rules: {
            phone: {
                reg: /^0?(13[0-9]|15[0-9]|17[0-9]|18[0-9]|14[0-9])[0-9]{8}$/,
                ajax: "https://cccikov.github.io/remoteData/array.json"
            },
            mail: {
                reg: /^[a-zA-Z0-9]+([._\\-]*[a-zA-Z0-9])*@([a-zA-Z0-9]+[-a-zA-Z0-9]*[a-zA-Z0-9]+.){1,63}[a-zA-Z0-9]+$/,
                minLength:10,
                maxLength:20
            }
        }
    })
    var vm = new Vue({
        el: "#app",
        data: {
            msg: "haha",
            obj: {
                name: "ccc"
            },
            tel: ""
        },
        methods: {
            sublime: function(e) {
                e.preventDefault();
                vm.focusErrorEl(['phone', 'email']);
            }
        }
    });

    setTimeout(function() {
        vm.tel = 15920789456;

        setTimeout(function(){
            vm.manual("phone","email"); // 由于可能刚改变值 , 还没有完全绑定到元素中 , 稍加延迟
        });

    },1000);
    </script>
</body>

</html>
