<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue 组件</title>
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <!-- 自定义事件 -->
    <!-- 我们知道，父组件是使用 props 传递数据给子组件，但子组件怎么跟父组件通信呢？这个时候 Vue 的自定义事件系统就派得上用场了。 -->

    <!-- 每个 Vue 实例都实现了事件接口 (Events interface)，即：
    使用 $on(eventName) 监听事件
    使用 $emit(eventName) 触发事件 -->


    <!-- 父组件可以在使用子组件的地方直接用 v-on 来监听子组件触发的事件。-->
    <!-- 不能用 $on 侦听子组件释放的事件，而必须在模板里直接用 v-on 绑定 -->


    <div id="counter-event-example">
        <p>{{ total }}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter></button-counter>
    </div>
    <script>
        Vue.component('button-counter', {
            template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0,
                    name: "ccc",
                    age: 18
                }
            },
            methods: {
                incrementCounter: function () {
                    var data = {
                        counter: this.counter,
                        name: this.name,
                        age: this.age
                    }
                    this.counter += 1
                    this.$emit('increment', data); // 只是触发事件 increment , 可以传参所以就可以传递数据
                    // 子组件里面也不用特意去定义事件 increment
                    // 值得注意的是 , 这里面事件的名称如果是多个单词只能使用 短横线隔开式 。 ps:props只能使用驼峰式是因为是作为对象的属性去使用（this.xxx xxx只能是标识符，组件如果是使用import引用的话也是要使用标识符保存），定义上（js中定义）与使用上（html标签使用）存在冲突，才导致props在js中只能用驼峰式，在HTML使用时只能用短横线隔开式 ； 而这里事件的名称是要用在标签的属性上 , 而且在js层面上只是一个字符串 , 所以用短横线隔开式也无妨，所以可能vue.js因此而取消"自定义事件"事件名称驼峰式转为短横线隔开式.
                    /* 如果使用的字符串模板事件的名称可以使用大写字母，驼峰式等方式 */
                    /* 推荐你始终使用 kebab-case 的事件名 */
                }
            },
        });

        new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function (data) { // 事件 increment的监听器
                    console.log(data); // 子组件传过来的数据
                    this.total += 1
                }
            }
        });

        // 上面用了三个子组件 , 其中前两都有监听事件increment , 第三个没有监听 , 父组件是可以完全不监听事件increment
        // 所以实际上子组件只是触发了increment事件 , 没有规定父组件一定要监听 , 所以是解耦的 。 就类似 , 我们在页面里面点击鼠标 , click事件就会触发 , 但是如果没有任何监听 , 就不了了之
    </script>





    <!-- 给组件绑定原生事件 -->
    <div id="app2">
        <tpl-b v-on:click="listener1"></tpl-b>
        <!-- 如果监听子组件上面的原生事件不加.native修饰符的话 , 会以为监听自定义事件 -->
        <tpl-b v-on:click.native="listener2"></tpl-b>
    </div>
    <script>
        Vue.component("tpl-b", {
            template: "<button v-bind:autoGoFn = 'fn1()'>按钮</button>",
            methods: {
                fn1: function () {
                    console.log("组件生成,自动执行函数执行");
                    var that = this;
                    var n = 10;
                    var m = 0;
                    var timer = setInterval(function () {
                        m++;
                        if (m >= n) {
                            clearInterval(timer);
                        }
                        that.$emit("click");
                    }, 1000);
                    return true;
                }
            }
        });

        new Vue({
            el: "#app2",
            methods: {
                listener1: function () {
                    console.log("触发自定义事件click");
                },
                listener2: function () {
                    console.log("触发原生click");
                }
            }
        });
    </script>












    <!-- .sync修饰符 -->
    <!-- 从 2.3.0 起我们重新引入了 .sync 修饰符，但是这次它只是作为一个编译时的语法糖存在。它会被扩展为一个自动更新父组件属性的 v-on 侦听器。 -->
    <div id="app3">
        <h5>app3</h5>
        <comp :foo.sync="bar"></comp>
        <!-- 相当于 分开prop和事件 -->
        <comp :foo="bar" @update:foo="bar"></comp>
        <!-- 相当于 -->
        <comp :foo="bar" @update:foo="(val) => {bar = val}"></comp>
        <!-- v-on:update:foo， "update:foo" 是一个事件名 -->
        <hr>
    </div>
    <script>
        Vue.component("comp", {
            props: ["foo"],
            template: "<p @click='listener1()'>{{foo}}</p>",
            methods: {
                listener1: function () {
                    var newValue = "world";
                    this.$emit('update:foo', newValue); // 这个是语法糖
                }
            }
        });

        new Vue({
            el: "#app3",
            data: {
                bar: "hello"
            },
            watch: {
                bar: function (newVal) {
                    console.log("bar的值改变了 , 变成" + newVal);
                }
            }
        });
    </script>

    <!-- 其实上面的完全可以靠自己来实现 -->
    <div id="app4">
        <tpl-c :foo="bar" v-on:update="parentListener"></tpl-c>
    </div>
    <script>
        Vue.component("tpl-c", {
            props: ["foo"],
            template: "<p @click='sonListener()'>{{foo}}</p>",
            methods: {
                sonListener: function () {
                    var newValue = "world";
                    this.$emit('update', newValue);
                }
            }
        });

        new Vue({
            el: "#app4",
            data: {
                bar: "hello"
            },
            methods: {
                parentListener: function (data) {
                    this.bar = data;
                }
            },
            watch: {
                bar: function (newVal) {
                    console.log("bar的值改变了 , 变成" + newVal);
                }
            }
        });

        // 实际就是子组件触发一个事件 , 传入数据
        // 父组件监听事件 , 在侦听器里面改变相对应的数据
    </script>











    <!-- 使用自定义事件的表单输入组件 -->
    <div id="app5">
        <h5>app5</h5>
        <p>
             <!-- 先看看Vue提供的v-model -->
            <input v-model="something1"> {{something1}}
            <!-- 实际 v-model 是个语法糖 等同于-->
            <input v-bind:value="something2" v-on:input="something2 = $event.target.value"> {{something2}}
            <!-- 相当于 函数写法 -->
            <input v-bind:value="something3" v-on:input="event => { something3 = event.target.value }"> {{something3}}
        </p>



        <p>
            <custom-input v-model="something4"></custom-input>{{something4}}
            <!-- 所以在组件中使用时，它相当于下面的简写： -->
            <custom-input v-bind:value="something5" v-on:input="something5 = arguments[0]"></custom-input>{{something5}}
            <!-- 相当于 官方写法 -->
            <custom-input v-bind:value="something6" v-on:input="val => { something6 = val }"></custom-input>{{something6}}
        </p>

        <!--
            要让组件的 v-model 生效

            接受一个 value 属性 (代码 v-bind:value="something4")
            在有新的值时触发 input 事件 (代码 this.$emit('input', e.target.value);)
         -->
    </div>
    <script>
        Vue.component("custom-input", {
            template: "<input v-on:input='change' :value='value'>",
            props: ["value"], // 如果没有这个value prop , 组件v-model绑定的量就不能改变组件里面input的值  就是父组件的值改变不了子组件的值
            methods: {
                change: function (e) {
                    this.$emit('input', e.target.value); //触发 input 事件( 这里的input是自定义事件)
                }
            }
        });
        new Vue({
            el: "#app5",
            data: {
                something1: "",
                something2: "",
                something3: "",
                something4: "hi",
                something5: "hi",
                something6: "hi"
            }
        });
    </script>



    <!-- 默认情况下，一个组件的 v-model 会使用 value 属性和 input 事件，但是诸如单选框、复选框之类的输入类型可能把 value 属性用作了别的目的。model 选项可以回避这样的冲突： -->
    <div id="app6">
        <checkbox-input v-model="status" value="some value"></checkbox-input>{{status}}
        <!-- 等价于 -->
        <checkbox-input :checkedval="status2" @self-input="(val) => {status2 = val}"></checkbox-input>{{status2}}
        <!-- 渲染结果: <input type="checkbox"> 是看不到checked属性的 可能vue做了改动 , input标签的:checked是控制是否选上的 , 而不是控制是否默认选上-->

        <input type="checkbox" checked>
    </div>
    <script>
        Vue.component("checkbox-input", {
            template: "<input :checked='checkedval' type='checkbox' v-on:change='sonListener'>", // 由于复选框触发的 change事件 , 所以这里要监听的原生的change事件
            // 可能vue做了改动 , input标签的:checked是控制是否选上的 , 而不是控制是否默认选上
            // 可能是因为checked标签属性只要一出现(无论任何值,或者有无值)就是默认选上的意思 , 所以vue做了改动 checked变成控制是否控制
            model: {
                prop: "checkedval",
                event: "self-input" // 指定 组件v-model 监听的事件
            },
            props: {
                checkedval: Boolean,
            },
            methods: {
                sonListener: function (e) {
                    console.log(e.target === this.$el); // true 所以在某些情况下需要获取dom节点 , 可以用this.$el
                    this.$emit('self-input', e.target.checked); //触发 self-input 事件 ; 由于是复选框,这里传过去的值不再是input的value , 而是checked(这个checked属性是表单原生js的checked,表示是否选中;不是默认选上的那个标签checked属性)
                }
            },
        });

        var vm6 = new Vue({
            el: "#app6",
            data: {
                status: true,
                status2: true
            }
        });

        let max = 5;
        let n = 0;
        let timer = setInterval(function () {
            if (n > max) {
                clearInterval(timer);
            }
            vm6.status2 = !vm6.status2;
            n++;
        }, 200);
    </script>





    <!-- v-modal 在非 input 标签中 -->
    <script type="text/javascript">
        // 组件
        Vue.component("editA", {
            template: `<div>
                <button @click="changeValue">改变值</button>
            </div>`,
            methods: {
                changeValue() {
                    let ran = Math.random();
                    this.$emit("input", ran);
                }
            }
        })
    </script>
    <div id="app9">
        <h5>app9</h5>
        <p>父组件的值：{{age}}</p>
        <edit-a v-model="age" abc="haha"></edit-a>
        <hr>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#app9",
            data: {
                age: 19
            }
        })
    </script>



    <!-- v-modal 在非 input 标签中,自定义v-model 的 prop 和 event  -->
    <script type="text/javascript">
        // 组件
        Vue.component("editB", {
            template: `<div>
                <p>props:value => {{syncData}}</p>
                <button @click="changeValue">改变值</button>
            </div>`,
            model: {
                prop: "syncData", // 指定 组件v-model 的 prop
                event: "sync-event" // 指定 组件v-model 监听的事件
            },
            props: ["syncData"],
            methods: {
                changeValue() {
                    let ran = Math.random();
                    this.$emit("sync-event", ran); // ***，关键，父组件变量的值（age）为触发的事件附加的参数
                }
            }
        })
    </script>
    <div id="app10">
        <h5>app10</h5>
        <p>父组件的值：{{age}}</p>
        <edit-b v-model="age" abc="haha"></edit-b>
        <!-- 相当于 -->
        <edit-b :sync-data="age" @sync-event="val => { age = val }" abc="haha"></edit-b>
        <hr>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#app10",
            data: {
                age: 19
            },
        })
    </script>



    <!-- v-modal 在非 input 标签中 ， 默认情况下，一个组件上的 v-model 会把 value 用作 prop 且把 input 用作 event-->
    <script type="text/javascript">
        // 组件
        Vue.component("editC", {
            template: `<div>
                <p>props:value => {{value}}</p>
                <button @click="changeValue">改变值</button>
            </div>`,
            props: ["value"], // 不定义props也是可以使用v-model的，但是组件内部就访问不到这个值而已。 demo9就是这样
            methods: {
                changeValue() {
                    let ran = Math.random();
                    this.$emit("input", ran); // ***，关键，父组件变量的值（age）为触发的事件附加的参数
                }
            }
        })
    </script>
    <div id="app11">
        <h5>app11</h5>
        <p>父组件的值：{{age}}</p>
        <edit-c v-model="age" abc="haha"></edit-c>
        <!-- 相当于 -->
        <edit-c :value="age" @input="val => { age = val }" abc="haha"></edit-c>
        <hr>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#app11",
            data: {
                age: 19
            }
        })
    </script>









    <!-- 非父子组件通信 -->
    <p id="app7">
        <button @click='btnclick'>app7按钮</button>
    </p>
    <div id="app8">
        <p>上面的app7的按钮按了{{times}}次 ; 得到的数据是{{data}}</p>
    </div>
    <script>
        // 在简单的场景下，可以使用一个空的 Vue 实例作为中央事件总线：
        var middleVue = new Vue({});

        new Vue({
            el: "#app7",
            methods: {
                btnclick: function () {
                    var data = Math.random();
                    middleVue.$emit('somethindchange', data);
                }
            }
        });


        var vm8 = new Vue({
            el: "#app8",
            data: {
                times: 0,
                data: "暂时没有数据"
            },
            methods: {
                outside: function (data) {
                    console.log("从外面获取的数据", data);
                    this.data = data;
                    // this.times++ // 一般来说应该在这里面进行times的递加 , 但是为了体现中央事件总线就在外面的 somethindchange事件侦听器里面操作
                }
            }
        });
        middleVue.$on('somethindchange', function (data) { // 在app8里面用v-on去监听somethindchange是没有用的 , 因为somethindchange不是实例vm8的事件 , 是实例middle里面定义的事件
            vm8.times++;
            vm8.outside(data);
        });
    </script>




















































    <div id="app">
        <checkbox-test></checkbox-test>
    </div>
    <script>
        var content = "content-test";
        Vue.component('checkbox-test', {
            template: `<div  @click="check">
                  <div class="title">{{ title }}</div>
                  <div class="title">${content}</div>
                </div>`,
            data() {
                return {
                    checked: false,
                    title: 'title-test'
                }
            },
            methods: {
                check() {
                    this.checked = !this.checked;
                }
            }
        });

        window.vm = new Vue({
            el: "#app",
        });
    </script>


</body>

</html>