<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue 插件</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="js/vue-cc-validate.js"></script>
</head>

<body>
    <div id="app">
        {{validate_error}}
        <!-- v-validata 里面填的是rule 是规则 -->
        <!-- error,group,focusErrorEl填的是表单元素的name -->
        <p>
            <input type="text" name="phone" v-validata="'required|phone'" v-model="tel"> {{error('phone')}}
            <span v-show="!!error('phone')">未做任何填写的时候是不会出来的(null) 没有错误的时候也是不会出来的(0)</span>
            <span v-show="!group('phone')">输入电话号码 本来group就是判断是否等于0</span>
            <span v-show="error('phone') != 0">输入电话号码</span>
            {{ (error('phone') != 0) == (!group('phone'))}}

            <span v-if="error('phone') == 1">空值错误 必须填写</span>
            <span v-if="error('phone') == 2">正则错误 号码格式不对</span>
            <span v-if="error('phone') == 3">ajax错误 号码重复</span>
            <span v-if="error('phone') == 4">长度错误</span>
        </p>
        <p>
            <input type="" name="email" v-validata="'required|mail'"> {{error('email')}}
            <span v-if="!!error('email')">除了0和null , 代表一定有错误</span>
            <span v-if="error('email') == 4">长度错误(10-20字)</span>

        </p>
        <p>
            <label>
                <input type="checkbox" name="read" v-validata="'required'">已阅读
            </label>
            {{error('read')}}
        </p>
        <p>
            <button v-show="group('phone|email')">表单正确才出现 , 提交</button>
            <button v-show="group('phone','email')">表单正确才出现 , 提交</button>
            <button v-show="group(['phone','email'])">表单正确才出现 , 提交</button>
        </p>
        <button @click="submit">先聚焦错误元素,再提交</button>
        <button @click="clear">清空错误信息</button>
    </div>
    <script type="text/javascript">
    Vue.use(validate, {
        // immediate: true,
        rules: {
            phone: {
                reg: /^0?(13[0-9]|15[0-9]|17[0-9]|18[0-9]|14[0-9])[0-9]{8}$/,
                len:"11",
                ajax: {
                    url: "https://cccikov.github.io/remoteData/array.json",
                    data: {
                        name: function() { // 不能直接是值 , 由于这个data可能会实时变化 , 整个rules属性只会在初始化的时候传过去一次 , 所以只能做成函数 , 每次读取data里面的属性 , 就执行一次函数
                            return "meme";
                        },
                        id: function() {
                            return 211
                        },
                        msg:function(vm){
                            return vm.msg;
                        }
                    }
                }
            },
            mail: {
                reg: /^[a-zA-Z0-9]+([._\\-]*[a-zA-Z0-9])*@([a-zA-Z0-9]+[-a-zA-Z0-9]*[a-zA-Z0-9]+.){1,63}[a-zA-Z0-9]+$/,
                minLength: 10,
                maxLength: 20
            }
        }
    })
    var vm = new Vue({
        el: "#app",
        data: {
            msg: "haha",
            obj: {
                name: "ccc"
            },
            tel: ""
        },
        methods: {
            submit: function(e) {
                e.preventDefault();
                console.log(this.group('phone|email') , vm.group('phone|email'));
                var flag = vm.focusErrorEl(['phone', 'email']);
                if (flag) {
                    alert("提交成功");
                }
            },
            clear: function() {
                vm.clearerror();
            }
        }
    });

    setTimeout(function() { // ajax更新数据
        vm.tel = 15920789456;
        setTimeout(function() {
            vm.manual("phone", "email"); // 由于可能刚改变值 , 还没有完全绑定到元素中 , 稍加延迟
        });
    }, 10000);
    </script>
</body>

</html>
