<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue 插件</title>
    <script type="text/javascript" src="https://cccikov.github.io/cccgit/test/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="js/vue-cc-validate.js"></script>
</head>

<body>
    <div id="app">
        <p>
            <input type="text" name="phone" v-focus="'required|phone'"> {{error('phone')}}
            <span v-if="error('phone') == 1">空值错误 必须填写</span>
            <span v-if="error('phone') == 2">正则错误 号码格式不对</span>
            <span v-if="error('phone') == 3">ajax错误 号码重复</span>
        </p>
        <p>
            <input type="" name="email" v-focus="'mail'" value="123@qq.com">
            {{error('email')}}
        </p>
        <p>
            <button v-show="group('phone|email')">提交</button>
            <button v-show="group('phone','email')">提交</button>
            <button v-show="group(['phone','email'])">提交</button>
        </p>
    </div>
    <script type="text/javascript">
    Vue.use(validate, {
        "someOption": true
    })
    var vm = new Vue({
        el: "#app",
        data: {
            msg: "haha",
            obj: {
                name: "ccc"
            }
        },
        methods: {
            sayHi: function() {
                console.log("hi");
            }
        }
    });
    vm.addRule({
        phone: {
            reg: /^0?(13[0-9]|15[0-9]|17[0-9]|18[0-9]|14[0-9])[0-9]{8}$/,
            ajax: "https://cccikov.github.io/remoteData/array.json"
        },
        mail: {
            reg: /^[a-zA-Z0-9]+([._\\-]*[a-zA-Z0-9])*@([a-zA-Z0-9]+[-a-zA-Z0-9]*[a-zA-Z0-9]+.){1,63}[a-zA-Z0-9]+$/
        }
    });
    </script>
</body>

</html>
