<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue 列表渲染</title>
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <ul id="app1">
        <li v-for="item in arr" :key="item.id"> {{item.message}}{{item.id}}</li>
        <!-- key这个属性是vue里面的特殊特性 , 是不会渲染出来的 , 是为了避免复用渲染 -->
        <li v-for="(item,index) in arr" :key="item.id"> {{index}} --- {{item.message}}</li>
        <li v-for="(a,b) in arr" :key="a.id"> {{b}} --- {{a.message}}</li>
        <!-- 可以采用of 代替 in ，js两种遍历for...in for...of （vue用of和in都一样，不同于原生js的in和of是不同的；只是为了让前端觉得语法友好）-->
        <li v-for="(item,index) of arr" :key="item.id"> {{index}} --- {{item.message}}</li>




        <li v-for="val in obj" :key="val"> {{val}}</li>
        <li v-for="(val,key) of obj" :key="key">{{key}} ------ {{val}}</li>
        <li v-for="(val,key,index) of obj" :key="key">{{index}}-----{{key}} ------ {{val}}</li>
        <!-- index可能会因为不同的js引擎读取对象属性顺序而不同 , 要有明确顺序只能使用数组-->


        <!-- key属性的值一定要是唯一的有效的 , 如果数据里面有id最好就用id , 没有的话 , 数组型数据可以用index , 对象型属性可以用属性名 -->
    </ul>
    <script>
        var vm1 = new Vue({
            el: "#app1",
            data: {
                arr: [{
                    message: 'Foo',
                    id: 0
                }, {
                    message: 'Bar',
                    id: 1
                }],
                obj: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        });
    </script>



    <!-- vue不能检测某些变动 -->
    <div id="app2">
        <p>{{arr}}</p>
        <p>
            <button @click="change1">按钮1</button>
            <button @click="change2">按钮2</button>
            <button @click="change3">按钮3</button>
        </p>


        <p>
            <label>
                {{obj}}
                <input type="text" v-model="obj.name">
            </label>
        </p>
        <p>
            <button @click="change4">按钮4</button>
            <button @click="change5">按钮5</button>
            <button @click="change6">按钮6</button>
            <button @click="change7">按钮7</button>
            <button @click="change8">按钮8</button>
        </p>
    </div>
    <script>
        new Vue({
            el: "#app2",
            data: {
                arr: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                obj: {
                    name: "ccc"
                }
            },
            methods: {
                // vue不能检测利用索引值设置一个项的时候
                change1: function () {
                    this.arr[2] = "单个替换";
                },
                change2: function () {
                    this.arr = [0, 1, "整体替换", 3, 4, 5, 6, 7, 8, 9]
                },
                change3: function () {
                    this.arr.splice(2, 1, "splice方法替换");
                },

                // Vue 不能检测对象属性的添加或删除
                change4: function () {
                    this.obj = {};
                },
                change5: function () {
                    this.obj.name = "单个修改";
                    this.obj.age = "28";
                },
                change6: function () {
                    this.obj = {
                        name: "整体修改",
                        age: 27
                    }
                },
                change7: function () {
                    this.obj = Object.assign({}, this.obj, {
                        gender: "male",
                        height: 175
                    });
                },
                change8:function(){
                    delete this.obj.name;
                }
            }
        });

    </script>

</body>

</html>